body {
  min-height: 200vh;
}

.logo {
  font-weight: 300;
  padding: 10px;
}

.thin-text {
  font-weight: 300;
  text-shadow: 1px 1px black;
  background: rgba(30, 43, 49, 0.6);
  padding: 40px;
  border-radius: 10px;
}

.carousel-item {
  /* width: 60% !important; */
  /* margin-right: 50px; */
}

.sectionHeader {
  font-weight: 300;
}

.cta {
  font-weight: 300;
  text-shadow: 1px 1px black;
  background: rgba(30, 43, 49, 0.6);
  padding: 40px;
  border-radius: 10px;
}

.contact-form {
  padding-top: 40px;
}